<h2>Olá, {{provider}}</h2>
<p>Houve um cancelamento de horário, confira os detalhes abaixo</p>
<h4>Cliente:{{user}}</h4>
<h4>Data/Hora:{{date}}</h4>
<p>O horário está novamente disponível para agendamentos.</p>
